/* 
    Document   : basemod_slider
    Created on : 29.08.2013, 16:26:51
    Author     : unrz59
    Description:
        Slider im Kopfteil
*/


.headerimg { background-position: left top; 
	      background-repeat: no-repeat; 
		width:834px; 
		height:200px; 
		position: absolute; 
		top: 0; 
		left: 366px;  }

#control { 
    position: absolute;
    left: 374px;
    top: 10px;
    z-index: 10;
}

.btn a {
    margin: 0;
    padding: 0;
    line-height: 32px;
    border: 1px solid transparent; 
    color: black;
    background: transparent;
}
.btn a img {   
    display: inline;   
       margin: 0;
    padding: 0; 
}
.btn a:focus, .btn a:hover {
    background-color: #0094D4;
    border: 1px solid #036; 
    color: white;
}

@media screen and (max-width: 1190px) {
    
    .headerimg {
	display: none;
    }
    
}
